<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Demo Deploy Test</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body class="mx-auto my-0">
    <h1>Classic Todo list</h1>
    <a  class="btn btn-primary float-right" th:href="@{/add_todo}">Create Todo</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">title</th>
                <th scope="col">description</th>
                <th scope="col">action</th>
            </tr>
        </thead>
        <tbody >
            <tr th:each="todo : ${todos}">
                <td th:text="${todo.getId()}"></td>
                <td th:text="${todo.getTitle()}"></td>
                <td th:text="${todo.getDescription()}"></td>
                    <td class="btn btn-secondary">
                        <form th:action="@{/delete_todo/{id}(id=${todo.getId()})}" method="POST">
                            <button type="submit"  class="btn btn-danger" > Delete </button>
                        </form>
                    </td>
                    <td class="btn btn-secondary"><a th:href="@{/add_todo/{id}(id=${todo.getId()})}">Update</a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>